*{
  box-sizing: border-box;
  font-family: 'Baloo Bhaina', cursive;
}

h2 {
  font-size:2.8rem;
}

.container {
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height:60%;
  width:100vw;
}
button {
  width:20%;
  height:3rem;
  background-color: gray;
  margin-top:1rem;
}
